.cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, max-content));
    column-gap: 20px;
    justify-items: center;
}
@media screen and (max-width: 1200px){
    .cards {
        column-gap: 10px;
    }
}
@media screen and (max-width: 750px){
    .cards {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}
