.header__title {
    @include font($fontFamily, bold, 60px, 69px);
    color: #FFFFFF;
    max-width: 650px;
    margin: 0 0 28px 0;
}
@media screen and (max-width: $tabletResolution){
    .header__title {
        font-size: 33px;
        line-height: 37px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: $mobileResolution){
    .header__title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 14px;
    }
}