.footer__subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);

    margin: 20px 0 174px 0;
}
@media screen and (max-width: 1200px){
    .footer__subtitle {
        margin-bottom: 130px;
    }
}
@media screen and (max-width: 750px){
    .footer__subtitle {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 95px;
        margin-top: 14px;
    }
}