.functional-card {
    background: #F8F8F8;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    max-width: 540px;
    min-height: 308px;
}
@media screen and (max-width: $tabletResolution){
    .functional-card {
        padding: 30px;
        max-width: 349px;
        min-height: 284px;
    }
}
@media screen and (max-width: $mobileResolution){
    .functional-card {
        padding: 20px;
        max-width: 300px;
    }
}