.about__title {
    @include font($fontFamily, 600, 60px, 68px);
    color: #111111;
    max-width: 1103px;
}
@media screen and (max-width: $tabletResolution){
    .about__title {
        font-size: 33px;
        line-height: 37px;
        max-width: 648px;
    }
}
@media screen and (max-width: $mobileResolution){
    .about__title {
        font-size: 26px;
        line-height: 31px;
        max-width: 260px;
    }
}