.about__phones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
}
@media screen and (max-width: 1200px){
    .about__phones {
        grid-template-columns: repeat(3, 0.7fr);
    }
}