.header__phone {
    filter: $shadow;
    border-radius: $shadowBorderRadius;
    position: relative;
    top: 40px;
}
@media screen and (max-width: 1000px){
    .header__phone {
        width: 250px;
        top: 120px
    }
}
@media screen and (max-width: $mobileResolution){
    .header__phone {
        width: 260px;
        top: 0;
        margin-bottom: 50px;
        justify-self: center;
    }
}