.functional-card {
    background: #F8F8F8;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
}
@media screen and (max-width: 1200px){
    .functional-card {
        padding: 30px;
        max-width: 349px;
    }
}