.about__phones {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
}
@media screen and (max-width: $tabletResolution){
    .about__phones {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
    }
}
@media screen and (max-width: $mobileResolution){
    .about__phones {
        display: none;
    }
}
