.header__subtitle {
    max-width: 450px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);

    margin: 0 0 108px 0;
}
@media screen and (max-width: $tablet-resolution){
    .header__subtitle {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 250px;
    }
}
@media screen and (max-width: $mobile-resolution){
    .header__subtitle {
        margin-bottom: 50px;
        font-size: 12px;
        line-height: 15px;
    }
}