.about__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 68px;
    color: #111111;
    max-width: 1103px;
}
@media screen and (max-width: 1200px){
    .about__title {
        font-size: 33px;
        line-height: 37px;
        max-width: 648px;
    }
}