.header__subtitle {
    max-width: 450px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);

    margin: 0 0 108px 0;
}