@media screen and (max-width: 1200px){
    .about__phone {
        width: 226px;
    }
}
@media screen and (max-width: 750px){
    .about__phones .about__phone:nth-child(2) {
        display: none;
    }
    .about__phones .about__phone:nth-child(3) {
        display: none;
    }
}