.functional-card__description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(17, 17, 17, 0.6);
    max-width: 460px;
    margin: 0;
}