$fontFamily: 'Inter', sans-serif;
//Ширина экранов
$tabletResolution: 1200px;
$mobileResolution: 750px;

$commonTitleWeight: 600;
$shadow: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.25));
$shadowBorderRadius: 30px;
