.footer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    max-height: 470px;
    box-sizing: border-box;
}
@media screen and (max-width: 1000px){
    .footer {
        max-height: 400px;
    }
}
@media screen and (max-width: 750px){
    .footer {
        grid-template-columns: 1fr;
    }
}