@media screen and (max-width: $tablet-resolution){
  .about__phone {
    width: 226px;
  }
}
@media screen and (max-width: $mobile-resolution){
  .about__phones .about__phone:nth-child(2) {
    display: none;
  }
  .about__phones .about__phone:nth-child(3) {
    display: none;
  }
}