.about__phone {
  filter: $shadow;
  border-radius: $shadowBorderRadius;
}
@media screen and (max-width: $tabletResolution){
  .about__phone {
    width: 226px;
  }
}
@media screen and (max-width: $mobileResolution){
  .about__phone {
    filter: unset;
    border-radius: unset;
    width: 260px;
  }
}